@font-face {
  font-family: "Avenir-Bold";
  src: url("./fonts/AvenirNextLTPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Avenir-Regular";
  src: url("./fonts/AvenirNextLTPro-Regular.woff") format("woff");
}

//@font-face {
//  font-family: "Avenir-Bold-Cn";
//  src: url("./fonts/AvenirNextLTPro-BoldCn.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-Bold-CnIt";
//  src: url("./fonts/AvenirNextLTPro-BoldCnIt.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-Cn";
//  src: url("./fonts/AvenirNextLTPro-Cn.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-CnIt";
//  src: url("./fonts/AvenirNextLTPro-CnIt.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-Demi";
//  src: url("./fonts/AvenirNextLTPro-Demi.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-DemiCn";
//  src: url("./fonts/AvenirNextLTPro-DemiCn.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-DemiIt";
//  src: url("./fonts/AvenirNextLTPro-DemiIt.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-HeavyCn";
//  src: url("./fonts/AvenirNextLTPro-HeavyCn.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-HeavyCnIt";
//  src: url("./fonts/AvenirNextLTPro-HeavyCnIt.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-It";
//  src: url("./fonts/AvenirNextLTPro-It.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-MediumCn";
//  src: url("./fonts/AvenirNextLTPro-MediumCn.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-MediumCnIt";
//  src: url("./fonts/AvenirNextLTPro-MediumCnIt.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-UltLtCn";
//  src: url("./fonts/AvenirNextLTPro-UltLtCn.woff") format("woff");
//}
//
//@font-face {
//  font-family: "Avenir-UltLtCnIt";
//  src: url("./fonts/AvenirNextLTPro-UltLtCnIt.woff") format("woff");
//}
