# Global settings applied to the whole site.
#
# “publish” is the directory to publish (relative to root of your repo),
# “command” is your build command,
# “base” is directory to change to before starting build. if you set base:
#    that is where we will look for package.json/.nvmrc/etc not repo root!

[build]
  publish = "dist"

# redirect old /p/ pages
[[redirects]]
  from = "/p/*"
  to = "/:splat"

# The following redirect is intended for use with most SPA's that handles routing internally.
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/slack/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/github/*"
  to = "/.netlify/functions/:splat"
  status = 200

[functions]
  directory = "functions"
